
{{!-- input words --}}
	<main class="content">
<section id="template-posts" class="hidden">
  <div class="template-post">
    <div class="template-post-title-container">
      <span class="template-post-title"></span>
    </div>
    <div class="template-post-body">
      <div class="word-input-container">
        <label for="word-noun-input">{{Noun}}</label>
        <input type="text" class="word-noun-input">
      </div>
      <div class="word-input-container">
        <label for="word-noun-input">{{Noun2}}</label>
        <input type="text" class="word-noun-input">
      </div>
      <div class="word-input-container">
        <label for="word-verb-input">{{Verb}}</label>
        <input type="text" class="word-verb-input">
      </div>
      <div class="word-input-container">
        <label for="word-adjective-input">{{Adjective}}</label>
        <input type="text" class="word-adjective-input">
      </div>
      <div class="word-input-container">
        <label for="word-adjective-input">{{Adjective2}}</label>
        <input type="text" class="word-adjective-input">
      </div>
